<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="active_directory_token_id_attribute" value="serialNumber"/>
    <add key="yubico_api_client_id" value="(*** CLIENT ID ***)"/>
    <add key="yubico_api_secret_key" value="(*** SECRET KEY ***)"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="outdir" value="C:/Temp"/>
    <variable name="appname" value="YubicoAuthProvider"/>
    <targets async="true">
      <target xsi:type="File"
            name="logfile"
            layout="${time} [${threadid:pad:padding=-2:fixedLength=true}] ${pad:padding=5:inner=${level:uppercase=true}} ${logger} ${message}${onexception:inner= | ${exception:format=tostring}}"
            fileName="${var:outdir}/${var:appname}_Debug.log"
            keepFileOpen="false"
            archiveFileName="${var:outdir}/${var:appname}_Debug.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="30"
            concurrentWrites="true"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" maxlevel="Fatal" writeTo="logfile" enabled="false" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
