<?xml version="1.0"?>
<!--
        More information about log4net can be found at:
        http://logging.apache.org/log4net/release/config-examples.html
        http://www.codeproject.com/KB/cs/log4net_XmlConfigurator.aspx

        Filter levels include the following options:
        OFF, FATAL, ERROR, WARN, DEBUG, INFO, ALL
-->
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <!-- Set to true to enable log4net internal debugging - viewable using DebugView.exe -->
  <log4net debug="false">

    <!-- Windows Eventlog Appender - For WARN and above events -->
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
      <!-- 
        Be sure you have registered the eventlog source listed in the applicationName value!
          Example: eventcreate /ID 411 /L APPLICATION /T INFORMATION /SO "PowerShellSigning" /D "Description of Service" 
      -->
      <applicationName value="YubicoAuthProvider" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
      <securitycontext type="log4net.Util.WindowsSecurityContext">
        <credentials value="Process" />
      </securitycontext>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <!-- Debug Log File Appender - for DEBUG and above -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <File value="Debug.log" />
      <!--<file type="log4net.Util.PatternString">
        <conversionPattern value="App_Data/%appdomain.log" />
      </file>-->
      <AppendToFile value="true" />
      <!--
        Add following lockingModel to prevent file locking - NOTE: performance reduction will occur
        though the file will not be locked, allowing you to open the file for watching events
      -->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="500KB" />
      <staticLogFileName value="true" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <root>
      <!-- Do not change the level value here - use appenders log levels instead -->
      <level value="DEBUG" />

      <!-- Enable/Disable depending on whether you want eventlog entries -->
      <!-- <appender-ref ref="EventLogAppender" /> -->

      <!-- Uncomment RollingLogFileAppender to see debug logs in execution folder -->
      <appender-ref ref="RollingLogFileAppender" />
    </root>

  </log4net>

</configuration>