<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true">
  <variable name="outdir" value="C:/Temp"/>
  <variable name="appname" value="YubicoAuthProvider"/>
  <targets async="true">
    <target xsi:type="File" 
            name="logfile"
            layout="${time} [${threadid:pad:padding=-2:fixedLength=true}] ${pad:padding=5:inner=${level:uppercase=true}} ${logger} ${message}${onexception:inner= | ${exception:format=tostring}}"
            fileName="${var:outdir}/${var:appname}_Debug.log"
            keepFileOpen="true" 
            archiveFileName="${var:outdir}/${var:appname}_Debug.{#}.zip"
            archiveEvery="Day"
            archiveNumbering="Date"
            enableArchiveFileCompression="true"
            maxArchiveFiles="30"
            concurrentWrites="true"/>
    <!-- eventcreate /t information /id 411 /d "Registering event source" /L Application /SO "YubicoAuthProvider" -->
    <target xsi:type="EventLog"
            name="eventlog"
            layout="${message}"
            source="${var:appname}"
            eventId="411"
            log="Application"/>
  </targets>
  <rules>
    <logger name="*" level="Info" writeTo="eventlog" enabled="true" />
    <logger name="*" minlevel="Debug" maxlevel="Fatal" writeTo="logfile" enabled="false" />
  </rules>
</nlog>